In [14]:
import pandas as pd
benchmark = pd.read_csv("nifty50_historical.csv")

In [15]:
benchmark.columns = (
    benchmark.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [17]:
benchmark.head()
benchmark["date"].head(10)

0    06-JAN-2026
1    05-JAN-2026
2    02-JAN-2026
3    01-JAN-2026
4    31-DEC-2025
5    30-DEC-2025
6    29-DEC-2025
7    26-DEC-2025
8    24-DEC-2025
9    23-DEC-2025
Name: date, dtype: object

In [18]:
benchmark["date"] = benchmark["date"].astype(str).str.title()

In [19]:
benchmark.head()
benchmark["date"].head(10)

0    06-Jan-2026
1    05-Jan-2026
2    02-Jan-2026
3    01-Jan-2026
4    31-Dec-2025
5    30-Dec-2025
6    29-Dec-2025
7    26-Dec-2025
8    24-Dec-2025
9    23-Dec-2025
Name: date, dtype: object

In [20]:
benchmark["date"] = pd.to_datetime(
    benchmark["date"],
    format="%d-%b-%Y",
    errors="coerce"
)


benchmark["benchmark_value"] = pd.to_numeric(
    benchmark["close"],
    errors="coerce"
)

In [21]:
benchmark = benchmark.sort_values("date")

In [22]:
benchmark = benchmark[["date", "benchmark_value"]].dropna()

In [23]:
benchmark["benchmark_return"] = benchmark["benchmark_value"].pct_change()

In [25]:
benchmark.head(10)

          date  benchmark_value  benchmark_return
249 2025-01-06         23616.05               NaN
248 2025-01-07         23707.90          0.003889
247 2025-01-08         23688.95         -0.000799
246 2025-01-09         23526.50         -0.006858
245 2025-01-10         23431.50         -0.004038
244 2025-01-13         23085.95         -0.014747
243 2025-01-14         23176.05          0.003903
242 2025-01-15         23213.20          0.001603
241 2025-01-16         23311.80          0.004248
240 2025-01-17         23203.20         -0.004659

In [26]:
benchmark.to_csv("benchmark_processed.csv", index=False)