In [ ]:
%pip install pandas

In [38]:
import pandas as pd

file_path = "DownloadNAVHistoryReport_sep-dec.txt"

with open(file_path, "r", encoding="utf-8") as f:
    lines = f.readlines()

In [39]:
header = lines[0].strip().split(";")

data_lines = [
    line.strip().split(";")
    for line in lines
    if line.strip() and line.strip()[0].isdigit()
]

In [40]:
df = pd.DataFrame(data_lines, columns=header)

In [41]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [42]:
print(df.columns)

Index(['scheme_code', 'scheme_name', 'isin_div_payout/isin_growth',
       'isin_div_reinvestment', 'net_asset_value', 'repurchase_price',
       'sale_price', 'date'],
      dtype='object')

In [43]:
df = df.rename(columns={
    "scheme_code": "scheme_code",
    "scheme_name": "scheme_name",
    "net_asset_value": "nav",
    "date": "date"
})

In [44]:
df["nav"] = pd.to_numeric(df["nav"], errors="coerce")
df["date"] = pd.to_datetime(df["date"], format="%d-%b-%Y")
df["scheme_code"] = df["scheme_code"].astype(str)

In [45]:
df.to_csv("nav_sep-dec_2025_clean.csv", index=False)

In [1]:
import pandas as pd
import glob
import os

# 1. Path to the folder containing your CSVs
path = './clean' 

# 2. Get a list of all CSV filenames
all_files = glob.glob(os.path.join(path, "*.csv"))

# 3. Read each file into a list of DataFrames
df_list = [pd.read_csv(f) for f in all_files]

# 4. Concatenate all DataFrames into one
combined_df = pd.concat(df_list, ignore_index=True)

# 5. Save or view the result
combined_df.to_csv("combined_output.csv", index=False)
print(combined_df.head())

C:\Users\jafri\AppData\Local\Temp\ipykernel_16052\1832743235.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(f) for f in all_files]
C:\Users\jafri\AppData\Local\Temp\ipykernel_16052\1832743235.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(f) for f in all_files]
C:\Users\jafri\AppData\Local\Temp\ipykernel_16052\1832743235.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(f) for f in all_files]
C:\Users\jafri\AppData\Local\Temp\ipykernel_16052\1832743235.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = [pd.read_csv(f) for f in all_files]

  scheme_code                                        scheme_name  \
0      139619  Taurus Investor Education Pool - Unclaimed Div...
1      139619  Taurus Investor Education Pool - Unclaimed Div...
2      139619  Taurus Investor Education Pool - Unclaimed Div...
3      139619  Taurus Investor Education Pool - Unclaimed Div...
4      139619  Taurus Investor Education Pool - Unclaimed Div...

  isin_div_payout/isin_growth isin_div_reinvestment   nav  repurchase_price  \
0                         NaN                   NaN  10.0               NaN
1                         NaN                   NaN  10.0               NaN
2                         NaN                   NaN  10.0               NaN
3                         NaN                   NaN  10.0               NaN
4                         NaN                   NaN  10.0               NaN

   sale_price        date
0         NaN  2025-04-01
1         NaN  2025-04-02
2         NaN  2025-04-03
3         NaN  2025-04-04
4         NaN  2025-04-07

In [2]:
df_all = pd.read_csv("combined_output.csv")

C:\Users\jafri\AppData\Local\Temp\ipykernel_16052\3022063308.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all = pd.read_csv("combined_output.csv")

In [3]:
df_all = df_all.rename(columns={
    "isin_div_payout/isin_growth": "isin_payout_or_growth",
    "isin_div_reinvestment": "isin_reinvestment"
})

In [6]:
df_all["scheme_code"] = df_all["scheme_code"].astype(str)
df_all["nav"] = pd.to_numeric(df_all["nav"], errors="coerce")
df_all["date"] = pd.to_datetime(df_all["date"], format='mixed', errors='coerce')

In [8]:
df_all["amc"] = (
    df_all["scheme_name"]
    .str.split("Fund", n=1)
    .str[0]
    .str.strip()
)

In [10]:
df_all["plan_type"] = df_all["scheme_name"].str.contains(
    "Direct", case=False, na=False
).map({True: "Direct", False: "Regular"})

In [11]:
df_all["distribution_type"] = (
    df_all["scheme_name"]
    .str.contains("IDCW|Dividend", case=False, na=False)
    .map({True: "IDCW", False: "Growth"})
)

In [12]:
df_all[df_all["scheme_name"].isna()]

,scheme_code,scheme_name,isin_payout_or_growth,isin_reinvestment,nav,repurchase_price,sale_price,date,amc,plan_type,distribution_type
48578,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
55431,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
107492,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
141765,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
238957,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
298542,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
416993,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
418192,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
465003,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
506703,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
507160,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
511007,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
511808,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
513382,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
520060,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
524097,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
525378,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
532667,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
532764,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
536328,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
588140,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
595209,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
647278,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
681863,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
782022,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
844485,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
962888,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1009934,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1104223,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1111418,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1168369,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1180982,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1203481,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1304003,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1367111,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1387290,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1496793,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1498107,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1551630,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1639178,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1645917,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1701344,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1713157,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1736216,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1834680,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1894484,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
1913393,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
2019764,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
2021108,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth
2074496,360 ONE Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,Regular,Growth

In [13]:
df_all = df_all.dropna(subset=["scheme_name"])

In [14]:
df_all.head(10)

,scheme_code,scheme_name,isin_payout_or_growth,isin_reinvestment,nav,repurchase_price,sale_price,date,amc,plan_type,distribution_type
0,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-01,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
1,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-02,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
2,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-03,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
3,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-04,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
4,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-07,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
5,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-08,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
6,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-09,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
7,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-11,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
8,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-15,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW
9,139619,Taurus Investor Education Pool - Unclaimed Div...,NaN,NaN,10.0,NaN,NaN,2025-04-16,Taurus Investor Education Pool - Unclaimed Div...,Regular,IDCW

In [15]:
df_final = df_all[
    [
        "scheme_code",
        "scheme_name",
        "amc",
        "plan_type",
        "distribution_type",
        "nav",
        "date"
    ]
]

In [16]:
df_final.isnull().sum()

scheme_code          0
scheme_name          0
amc                  0
plan_type            0
distribution_type    0
nav                  0
date                 0
dtype: int64

In [18]:
df_final.duplicated(subset=["scheme_code", "date"]).sum()

np.int64(0)

In [19]:
df_final.groupby("scheme_code")["date"].nunique().describe()

count    8792.000000
mean      240.099522
std        59.900921
min         1.000000
25%       244.000000
50%       248.000000
75%       248.000000
max       365.000000
Name: date, dtype: float64

In [ ]:
df_final.to_csv("nav_daily_multicap.csv", index=False)

In [27]:
df_final = df_final.sort_values(["scheme_code", "date"])

df_final["daily_return"] = (
    df_final
    .groupby("scheme_code")["nav"]
    .pct_change()
)

In [29]:
df_returns = df_final.copy()

df_returns.to_csv(
    "nav_with_daily_returns.csv",
    index=False
)

In [30]:
df_returns = df_returns[
    ~df_returns["scheme_name"].str.contains(
        "Unclaimed", case=False, na=False
    )
]

In [31]:
selected_funds = [
    "Aditya Birla Sun Life Multi-Cap Fund-Direct Growth",
    "Aditya Birla Sun Life Multi-Cap Fund-Regular Growth",
    "Aditya Birla Sun Life Multi-Cap Fund-Direct IDCW Payout"
]

df_returns = df_returns[
    df_returns["scheme_name"].isin(selected_funds)
]

In [32]:
df_returns.to_csv(
    "nav_with_daily_returns_filtered.csv",
    index=False
)